<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<nav id="menuNav">
    <ul>
        <li><a href="#" class="logo">LOGO</a></li>
        <li class="search-item">
            <input type="text" id="searchBox" placeholder="Buscar..." />
            <div id="filterOptions" class="filter-options">
                <label><input type="checkbox" class="filter-checkbox"> Opción 1</label><br>
                <label><input type="checkbox" class="filter-checkbox"> Opción 2</label><br>
                <label><input type="checkbox" class="filter-checkbox"> Opción 3</label><br>
            </div>
        </li>
        <li><a href="#">PERFIL</a></li> <!-- solo tutores deberian poder ver este boton -->
    </ul>
</nav>


<div id="contenedorPrincipal">
        <h3>Crear publicación</h3>
        <button >
            boton
        </button>
        <div id="contenedorFeed">
            <h1>FEED</h1> <!-- por cada publicacion mostrar dentro de este div -->
        </div>
    </div>


<main>
    <div id="tutoriasFiltradas">

    </div>
</main>

<footer id="footer">
    <p>&copy; 2024 Tatutor. All rights reserved.</p>
</footer>

    <script th:src="@{/javascript/home.js}"></script>
</body>
</html>
